.feeds-desklet-title {
    font-weight: bold;
    padding: .3em 1em;
    border-bottom: 2px solid #777;
}
.feeds-desklet-content > StButton {
    text-align: left;
    padding: .2em .1em;
}

.feeds-desklet-content > StButton:hover {
    background-color: #777;
}

.feeds-desklet-item {
    text-align: left;
}

.feeds-desklet-item > StLabel {
    text-align: left;
}

/* Cinnamon tooltips use id="Tooltip", but the default theme (and most others
 * use text-align: center. Tooltips created for feedreader items contain lots
 * of text so left-alignment makes for better readability
 * Feedreader adds the additional class="feedreader-item-tooltip" to the
 * underlying tooltip label */
#Tooltip.feedreader-item-tooltip {
    text-align: left;
}

