
/* Content styling */
.feeds-desklet-contentbox {
    padding: 0 .4em .4em;
}

.feeds-desklet-contentbox StButton {
    text-align: left;
    padding: .2em .1em;
}

.feeds-desklet-contentbox StButton StBoxLayout {
    spacing: .5em
}

.feeds-desklet-contentbox StButton:hover {
    background-color: #777;
}

/* Tabs styling */
.feeds-desklet-tabbox {
    padding: .2em .2em 0 .2em;
}

.feeds-desklet-tabbox StButton {
    font-weight: bold;
    margin-top: 1em;
    padding: .3em 1em;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-radius-topleft: 5px;
    border-radius-topright: 5px;
}

.feeds-desklet-tabbox StButton:hover {
    background-color: #777;
}

.feeds-desklet-tabpadding {
    border-bottom: 1px solid #aaa;
}

/* Cinnamon tooltips use id="Tooltip", but the default theme (and most others
 * use text-align: center. Tooltips created for feedreader items contain lots
 * of text so left-alignment makes for better readability
 * Feedreader adds the additional class="feedreader-item-tooltip" to the
 * underlying tooltip label */
#Tooltip.feedreader-item-tooltip {
    text-align: left;
}

